@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  --color-bg: #fffceb;
  --color-primary-1: #ff0095;
  --color-primary-2: #190096;
  --color-text: #272727;
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}

@layer utilities {
  .font-jersey {
    font-family: "Jersey 20", sans-serif;
  }
  .font-ibmmono {
    font-family: "IBM Plex Mono", monospace;
  }
}
