---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Digitalt visitkort">
  <main class="bg-[#fffceb]">
    <section class="flex justify-center py-12">
      <div
        class="bg-[#190096] w-3/3 md:w-3/4 lg:w-2/3 flex flex-col items-center"
      >
        <div class="relative flex flex-col items-center">
          <Heading
            htmlheading="h1"
            size="xlarge"
            font="display"
            stylingclasses="uppercase text-center -mt-10 lg:-mt-12 animate-pulse"
          >
            Emilie Rose</Heading
          >
          <img
            src="/emilie.webp"
            alt=""
            class="w-70 h-70 md:w-72 md:h-72 lg:w-96 lg:h-96 rounded-full object-cover -mb-18"
          />
        </div>
      </div>
    </section>

    <section id="fra-journalistik" class="flex flex-col items-center">
      <div class="bg-stone-100 bg-noise w-11/12 md:w-3/4 lg:w-2/3 p-8 mt-12">
        <div class="text-left">
          <Heading
            htmlheading="h2"
            size="large"
            font="display"
            stylingclasses="text-bold mb-4 text-[#272727]"
          >
            Fra journalistik til digitalt design</Heading
          >

          <Text>
            Mit navn er Emilie Rose Bisgaard. Jeg er uddannet journalist, men
            valgte sidste år at udvide min faglige værktøjskasse og læse videre
            på multimediedesign på EK. Min drøm er, at jeg en dag kan leve af at
            kombinere min nysgerrighed på verden med min glæde for at designe og
            skabe skæve, sjove og kreative digitale løsninger.
          </Text>
          <Text>
            Som digital designer synes jeg, at det er sjovt at tænke ud af
            boksen og prøve at finde frem til løsninger, der er anderledes og ud
            over det sædvanlige. Samtidigt går jeg efter at skabe løsninger, der
            involverer brugeren og giver dem en god oplevelse.
          </Text>
          <Text>
            Jeg glæder mig til at udvikle mig endnu mere som digital designer i
            min tid på EK og skabe sjove, kreative og brugervenlige løsninger.
          </Text>
        </div>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-11/12 md:w-3/4 lg:w-2/3 mt-6"
      >
        <div class="flex justify-center">
          <Button
            href="https://www.instagram.com/emiliers99/"
            target="_blank"
            variant="primary"
            size="large">Instagram</Button
          >
        </div>
        <div class="flex justify-center">
          <Button
            href="https://dk.pinterest.com/emilie199906060/"
            target="_blank"
            variant="primary"
            size="large">Pinterest</Button
          >
        </div>
        <div class="flex justify-center">
          <Button
            href="https://www.linkedin.com/in/emilie-s%C3%B8ndergaard-159994180"
            target="_blank"
            variant="primary"
            size="large">LinkedIn</Button
          >
        </div>
      </div>
      <section
        id="kompetencer"
        class="w-11/12 md:w-3/4 lg:w-2/3 mx-auto bg-[#ff0095] p-8 mt-12 shadow-lg rounded-xl group"
      >
        <h2 class="text-3xl font-bold mb-6 text-[#fffceb]">Kompetencer</h2>

        <div class="flex flex-col gap-6 w-full">
          <div class="flex items-center w-full cursor-pointer">
            <div class="w-32 text-[#fffceb] font-semibold">Adobe</div>
            <div
              class="relative h-5 bg-[#fffceb] rounded-lg flex-1 overflow-hidden"
            >
              <div
                class="h-full bg-[#190096] w-0 group-hover:w-[80%] transition-all duration-[7000] cursor-pointer"
              >
              </div>
            </div>
          </div>

          <div class="flex items-center w-full cursor-pointer">
            <div class="w-32 text-[#fffceb] font-semibold">Figma</div>
            <div
              class="relative h-5 bg-[#fffceb] rounded-lg flex-1 overflow-hidden"
            >
              <div
                class="h-full bg-[#190096] w-0 group-hover:w-[80%] transition-all duration-[7000] cursor-pointer"
              >
              </div>
            </div>
          </div>

          <div class="flex items-center w-full cursor-pointer">
            <div class="w-32 text-[#fffceb] font-semibold">Office</div>
            <div
              class="relative h-5 bg-[#fffceb] rounded-lg flex-1 overflow-hidden"
            >
              <div
                class="h-full bg-[#190096] w-0 group-hover:w-full transition-all duration-[7000] cursor-pointer"
              >
              </div>
            </div>
          </div>

          <div class="flex items-center w-full cursor-pointer">
            <div class="w-32 text-[#fffceb] font-semibold">Hindenburg</div>
            <div
              class="relative h-5 bg-[#fffceb] rounded-lg flex-1 overflow-hidden"
            >
              <div
                class="h-full bg-[#190096] w-0 group-hover:w-full transition-all duration-[7000] cursor-pointer"
              >
              </div>
            </div>
          </div>

          <div class="flex items-center w-full cursor-pointer">
            <div class="w-32 text-[#fffceb] font-semibold">VS Code</div>
            <div
              class="relative h-5 bg-[#fffceb] rounded-lg flex-1 overflow-hidden"
            >
              <div
                class="h-full bg-[#190096] w-0 group-hover:w-[60%] transition-all duration-[7000] cursor-pointer"
              >
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="cv" class="mt-12 w-11/12 md:w-3/4 lg:w-2/3">
        <Heading
          htmlheading="h2"
          size="large"
          font="display"
          stylingclasses="font-bold mb-4 text-[#272727]"
        >
          CV</Heading
        >

        <div class="grid grid-cols-2 gap-y-16">
          <!-- Digitaliseringsstyrelsen -->
          <div class="flex flex-col items-start">
            <Heading
              htmlheading="h2"
              size="large"
              font="display"
              stylingclasses="font-bold mb-4 text-[#ff0095]"
            >
              NU:</Heading
            >

            <Heading
              Htmlheading="h3"
              size="medium"
              font="sans"
              stylingclasses="font-bold mb-1 text-[#272727] "
              >Digitaliseringsstyrelsen</Heading
            >

            <Heading
              Htmlheading="h4"
              size="small"
              font="sans"
              stylingclasses="mb-1"
            >
              Web- og kommunikationsmedhjælper
            </Heading>

            <Heading Htmlheading="h4" size="small" font="sans"> 2024- </Heading>
          </div>
          <div></div>
          <!-- Think PR -->
          <div></div>
          <div class="flex flex-col items-end text-right">
            <Heading
              Htmlheading="h3"
              size="medium"
              font="sans"
              stylingclasses="font-bold mb-1 text-[#272727]">Think PR</Heading
            >
            <Heading
              Htmlheading="h4"
              size="small"
              font="sans"
              stylingclasses="mb-1"
            >
              Journalist og kommunikationsrådgiver
            </Heading>
            <Heading
              Htmlheading="h4"
              size="small"
              font="sans"
              stylingclasses="mb-18"
            >
              2023-2024
            </Heading>
          </div>
        </div>

        <!-- KNR - Nuuk -->
        <div class="flex flex-col items-start">
          <Heading
            Htmlheading="h3"
            size="medium"
            font="sans"
            stylingclasses="font-bold mb-1 text-[#272727]">KNR - Nuuk</Heading
          >
          <Heading
            Htmlheading="h4"
            size="small"
            font="sans"
            stylingclasses="mb-1"
          >
            Journalist
          </Heading>
          <Heading
            Htmlheading="h4"
            size="small"
            font="sans"
            stylingclasses="mb-18"
          >
            2022-2023
          </Heading>
        </div>
        <div></div>
        <!-- Femina -->
        <div></div>
        <div class="flex flex-col items-end text-right">
          <Heading
            Htmlheading="h3"
            size="medium"
            font="sans"
            stylingclasses="font-bold mb-1 text-[#272727]">Femina</Heading
          >
          <Heading
            Htmlheading="h4"
            size="small"
            font="sans"
            stylingclasses="mb-1"
          >
            Journalistikpraktikant og studentermedhjælper
          </Heading>
          <Heading
            Htmlheading="h4"
            size="small"
            font="sans"
            stylingclasses="mb-1"
          >
            2020-2022
          </Heading>
        </div>
      </section>

      <div class="flex justify-end mt-8 mb-16">
        <a
          href="/cv.pdf"
          class="font-jersey bg-pink-500 text-[#fffceb] font-bold px-6 py-3 rounded-lg transition-colors duration-300 hover:bg-[#190096] mt-8"
        >
          Se hele mit CV
        </a>
      </div>
    </section>
  </main>
</MainLayout>
